extends layout

block content
  header
    h1(class='color') Express Skinner
  main
    h3 LOOK IT'S CONTENT
  footer
    p(class='color center footer-text') Express Skinner &copy; 2017 Natalie Baker
